@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Manrope:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
html {
  background-color: #f9faff;
  font-family: "Manrope", sans-serif;
}

.logo {
  font-family: "Comfortaa", cursive;
  color: #444444;
}

.me {
  font-family: "Manrope", sans-serif;
  font-weight: bolder;
  color: #444444;
}

.description {
  color: #c4c4c4;
}

.contact-btn {
  font-family: "Manrope", sans-serif;
}

.projects {
  font-family: "Manrope", sans-serif;
  font-weight: bolder;
}
